.carousel-container {
  position: relative;
  width: 500px;  /* Width of the image display area */
  height: 300px; /* Height of the image display area */
  overflow: hidden; /* Ensures parts of the image outside this container are hidden */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area, cropping if needed */
  display: block;
}

.titleText {
    text-align: center;
    font-size: 45px;
    padding: 20px;
}