.photoHeader{
  display: flex;
  font-size: 50px;
}

.statementParallax {
  width: 100%;
  text-align: center;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 50vh;
  justify-content: center;
}
.image {
  width: 500px;
  border-radius: 80px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgb(54, 54, 54);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgb(54, 54, 54);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

