.homepage, .aboutpage, .photopage{
    height: 100vh;
}

.aboutpage, .photopage{
    padding-top: 1000px;
}

#progress {
    --progress: 0;
    position: fixed;  /* This will make it stick to the viewport */
    top: 0;           /* This will position it at the very top */
    left: 0;          /* This will align it to the left side of the viewport */
    height: 5px;
    width: var(--progress);
    background-color: rgb(134, 134, 134);
    z-index: 1000;    /* This will ensure it stays on top of other content */
}
